html, body, form{
  background: #fff;
}
.input-control{
  margin: 12px 0;
}
.input-control>.button.helper-button.margin-right-button-clear{
  margin-right: 48px;
}
.wizard2 .action-bar{
  position: fixed;
}
.wiz-btn-help{
  display: none;
}
.wizard2 .step.next:before{
  left: initial;
  position: fixed;
}
.wizard2 .step.prev:before{
  left: initial;
  position: fixed;
}
