body{
  padding: 10px;
}
ul > *{
  margin-left: 25px;
}
#list > li{
  margin-left: 0px;
}
li {
  position: relative;
  min-height: 26px;
  line-height: 26px;
  cursor: pointer;
  word-wrap: break-word;
}
li > img {
  position: relative;
  top: 3px;
  cursor: default;
}
.hidden{
  display: none;
}
.arrow{
  position: absolute;
}
.arrow-right {
  top: 7px;
  left: -7px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333;
}
.arrow-down {
  top: 11px;
  left: -11px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}